

   <!-- .row>.col-6.mx-auto.mt-5>(h2.my-3>i.fa.fa-user+span.badge.badge-success{ Register})+(.form-group>label+input.form-control)+(.form-group>label+input:passwrod.form-control)+button.btn.btn-success.btn-block>i.fa.fa-user+{ Register} -->
  
   <div class="row">
       <div class="col-6 mx-auto mt-5">
           <h1 class="my-3 text-center">
               <i class="fa fa-user"></i>
               <span class="badge badge-success ml-3"> Register</span>
            </h1>

          <form [formGroup]="registerForm"> 
            
                <div class="form-group">
                        <label for="firstName">FirstName</label>
                        <input formControlName="firstName" type="text" class="form-control" id="firstName">
        
                        <div *ngIf="registerForm.get('firstName').invalid && registerForm.get('firstName').touched" 
                        class="alert alert-danger">
                            <div *ngIf="registerForm.get('firstName').errors.required">
                                This field is Required !
                            </div>
                           
                        </div>
                    </div>
                
                    <div class="form-group">
                            <label for="lastName">LastName</label>
                            <input formControlName="lastName" type="text" class="form-control" id="lastName">
            
                            <div *ngIf="registerForm.get('lastName').invalid && registerForm.get('lastName').touched" 
                            class="alert alert-danger">
                                <div *ngIf="registerForm.get('lastName').errors.required">
                                    This field is Required !
                                </div>
                               
                            </div>
                        </div>
                    
                      
                     <div class="form-check form-check-inline my-3">
                         <label class="form-check-label mr-4">
                             <input value="male" formControlName="gender"  class="form-check-input" type="radio" name="gender"> Male
                         </label>

                         <label class="form-check-label">
                                <input value="female" formControlName="gender" name="gender" class="form-check-input" type="radio" > Female
                         </label>
                     </div>


                     <div class="form-group">
                       <label for="">Country</label>
                       <select formControlName="country" class="form-control" name="" id="">
                         <option [ngValue]="country" *ngFor="let country of countries">
                             {{ country.name }}
                         </option>
                         
                       </select>
                     </div>
                    
            

            <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="text" class="form-control" id="email">

                <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" 
                class="alert alert-danger">
                    <div *ngIf="registerForm.get('email').errors.required">
                        This field is Required !
                    </div>
                    <div *ngIf="registerForm.get('email').errors.email">
                        Email not valid !
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" formControlName="password" type="password" class="form-control">
                
                <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" 
                class="alert alert-danger">
                   
                    <div *ngIf="registerForm.get('password').errors.required">
                        This field is Required !
                    </div>
                    
                </div>
            </div>
            <button (click)="register()" 
             [disabled]="registerForm.invalid" 
             class="btn btn-success btn-block">
                <i class="fa fa-user"></i> Register
                </button>
         </form> 
         
         {{ registerForm.value | json }}
       </div>
   </div>