<div class="row my-5">
    <div class="col-md-6">
        <h1>List of clients</h1>
    </div>
    <div class="col-md-4 text-right">
        <h1>Total : {{ total | currency:'GBP':'symbol':'1.3-3' }}</h1>
    </div>
    <div class="col-md-2 text-right">
        <a routerLink="/clients/create" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Infos</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of myClients">
                    <td>{{ client.firstName | titlecase | lowercase }} {{ client.lastName | uppercase }}</td>
                    <td>
                        <strong>Email: </strong> <span class="badge badge-info">{{ client.email }}</span> - 
                        <strong>Phone: </strong> <span class="badge badge-info">{{ client.phone }}</span>
                        
                        <div *ngIf="client.address">
                            <strong>Address:</strong> <span class="badge badge-info">{{ client.address }}</span>   
                        </div>
                    </td>
                    <td>{{ client.balance | currency:'GBP':'symbol':'1.3-3' }}</td>
                    <td class="text-right" nowrap>
                        <a [routerLink]="['/clients', client.id, 'edit']" class="btn btn-warning mr-1">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>