<div class="row my-5">
    <div class="col-md-6">
        <h1>Edit client</h1>
    </div>
    <div class="col-md-6 text-right">
        <a routerLink="/clients" class="btn btn-link">
            <i class="fa fa-arrow-left"></i> Back to list
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto">
        <form [formGroup]="clientForm" (ngSubmit)="updateClient()">
            <div class="form-group">
                <label for="firstName">firstName</label>
                <input formControlName="firstName" id="firstName" type="text" class="form-control">
                <div class="alert alert-warning" *ngIf="clientForm.get('firstName').invalid && (clientForm.get('firstName').dirty || clientForm.get('firstName').touched)">
                    
                    <div *ngIf="clientForm.get('firstName').errors.required">
                        This field is Required !
                    </div>

                    <div *ngIf="clientForm.get('firstName').errors.minlength">
                        This field should be great than 3 caracters !
                    </div>

                </div>   
            </div>
            <div class="form-group">
                <label for="lastName">lastName</label>
                <input formControlName="lastName" id="lastName" type="text" class="form-control">
                
                <div class="alert alert-warning" *ngIf="clientForm.get('lastName').invalid && (clientForm.get('lastName').dirty || clientForm.get('lastName').touched)">
                    
                        <div *ngIf="clientForm.get('lastName').errors.required">
                            This field is Required !
                        </div> 
                </div> 
            </div>
            <div class="form-group">
                <label for="phone">phone</label>
                <input formControlName="phone" id="phone" type="text" class="form-control">
                <div class="alert alert-warning" *ngIf="clientForm.get('phone').invalid && (clientForm.get('phone').dirty || clientForm.get('phone').touched)">
                    
                        <div *ngIf="clientForm.get('phone').errors.required">
                            This field is Required !
                        </div>
    
                       
                    </div> 
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input formControlName="email" id="email" type="text" class="form-control">
                <div class="alert alert-warning" *ngIf="clientForm.get('email').invalid && (clientForm.get('email').dirty || clientForm.get('email').touched)">
                    
                        <div *ngIf="clientForm.get('email').errors.required">
                            This field is Required !
                        </div>

                        <div *ngIf="clientForm.get('email').errors.email">
                                This field is not email format
                        </div>
    
                       
                    </div> 
            </div>
            <div class="form-group">
                <label for="address">address</label>
                <input formControlName="address" id="address" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="balance">balance</label>
                <input formControlName="balance" id="balance" type="number" class="form-control">
            </div>
              
            <button [disabled]="clientForm.invalid" type="submit" class="btn btn-block btn-success"><i class="fa fa-save"></i> Update client</button>
        </form>
    </div>
</div>