

   <!-- .row>.col-6.mx-auto.mt-5>(h2.my-3>i.fa.fa-user+span.badge.badge-success{ Register})+(.form-group>label+input.form-control)+(.form-group>label+input:passwrod.form-control)+button.btn.btn-success.btn-block>i.fa.fa-user+{ Register} -->
  
   <div class="row">
       <div class="col-6 mx-auto mt-5">
           <h1 class="my-3 text-center">
               <i class="fa fa-lock"></i>
               <span class="badge badge-primary ml-3"> Login</span>
            </h1>

          <form [formGroup]="registerForm">   
            <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" type="text" class="form-control" id="email">

                <div *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" 
                class="alert alert-danger">
                    <div *ngIf="registerForm.get('email').errors.required">
                        This field is Required !
                    </div>
                    <div *ngIf="registerForm.get('email').errors.email">
                        Email not valid !
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" formControlName="password" type="password" class="form-control">
                
                <div *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" 
                class="alert alert-danger">
                   
                    <div *ngIf="registerForm.get('password').errors.required">
                        This field is Required !
                    </div>
                    
                </div>
            </div>
            <button [disabled]="registerForm.invalid" class="btn btn-primary btn-block">
                <i class="fa fa-lock"></i> Login
                </button>
         </form>  
       </div>
   </div>